<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearn - {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <nav class="white ">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#!" class="brand-logo mt-2"><img src="{% static 'newlogo.png' %}" class="w-75"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="sass.html" class="btn red white-text">Signup</a></li>
                  <li><a href="badges.html" class="btn green white-text darken-3">Student Login</a></li>
                  <li><a href="collapsible.html" class="black-text">Carts</a></li>
                </ul>
            </div>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>



      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script type="text/javascript" src="{% static 'main.js'%}"></script>
    
</body>
</html>