<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elearn - {% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-5 ">
        <div class="container">
          <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large black-text"><i
              class="material-icons">menu</i></a>


          <a href="" class="brand-logo">
            <img src="{% static 'newlogo.png' %}" alt="logo cws" class="w-75 mt-3">
          </a>
          <ul class="right ">
            <li>
              <a href="{% url 'cart' %}" class=" black-text"><i class="material-icons left mr-1">shopping_cart</i>Cart
                <span class="right">
                  <sup class="badge text-white red new px-2 py-1 circle">0</sup>
                </span>
              </a>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">

            <li><a href="" class="btn small orange darken-3">Apply For
                Admission</a></li>
              {% if user.is_authenticated %}
                 <li><a href="{% url 'account_logout' %}" class="btn grey darken-3">Logout </a></li>

              {% else %}
               <li><a href="{% url 'account_login'%}" class="btn grey darken-3">Login </a></li>

              {% endif %}
           
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="sidenav" draggable="true">
    <li><a href="" class="waves-effect">Apply For Admission</a></li>
    <li><a href="" class="waves-effect">Login </a></li>
  </ul>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $("input[name$='type']").click(function () {
        var test = $(this).val();

        $("li.desc").hide();
        $("#Option" + test).show();
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      M.AutoInit();
    });
  </script>


  <script>
    $(document).ready(function () {
      $("input[type!='submit'],select,textarea").addClass("mdl-textfield__input");
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown({
        'hover': true,
        'coverTrigger': false,
      });
      var loc = window.location.href; // returns the full URL
      if (/student/.test(loc)) {
        $('.sidenav').addClass('sidenav-fixed');
        $("nav").addClass("sidenav-padding");
        $(".nav").css("padding-left", "200px");
      }

    });
  </script>



  {% block content %}


  {% endblock %}


  
  <script type="text/javascript" src="{% static 'main.js'%}"></script>

</body>

</html>