{% extends 'public/base.html' %}

{% block title %}
    my cart
{% endblock  %}

{% block content %}

    <div class="container">
        <div class="row">
            
            <div class="col l8 s12">

                <ul class="collection">
                    {% for x in order%}
                    <li class="collection-item avatar">
                        <img class="circle" width="140px" src="{{x.items.image.url}}" alt="{{ order_item.course.title }}">
                        <h6 class="mt-0 font-weight-bold text-capitalize">{{x.items.title}}</h6>

                         <span class="green-text"><strong>₹{{ x.items.discount_price }}</strong> </span>
                        <del class="text-muted small mx-1">₹{{ x.items.discount_price }}</del>
                        <span class="text-success font-weight-bold small mx-1">Saving {{x.items.get_total_discount}})</span>
                    
                        <a href="https://www.codewithsadiq.com/student/remove_from_cart/python-django-web-development-industrial-training-online" class="badge red-text secondary-content"><i class="material-icons mx-0">delete</i></a>
                    </li>
                    {% endfor %}

                                    </ul>
            </div>
            <div class="col l4 s12">
                <div class="card shadow-sm">
                    <div class="card-header">Price Details</div>
                    <form action="https://www.codewithsadiq.com/student/PaytmGateway/7YvPGNj" method="post">
                        <ul class="collection">
                            <li class="collection-item">Total Amount (1) <span class="right">₹9500</span></li>

                            

                            <li class="collection-item green text-white">Total Saving<span class="right">₹ 3000</span></li>

                            <li class="collection-item">Order Amount<span class="right">₹6500</span></li>

                            <li class="collection-item">
                                <label>
                                    <input type="radio" value="1" name="type" checked="" class="mdl-textfield__input">
                                    <span>Full</span>
                                </label>
                                <label>
                                    <input type="radio" value="2" name="type" class="mdl-textfield__input">
                                    <span>installment</span>
                                </label>
                            </li>

                            <li id="Option1" class="collection-item desc Option1 font-weight-bold">Full Payment
                                (100%)<span class="right">₹6500</span>
                            </li>

                        </ul>

                        <div class="card-content px-0 pt-0 pb-5">
                            <input type="text" name="order_id" value="92" hidden="" class="mdl-textfield__input">
                            <input type="submit" class="btn right blue darken-4" value="Proceed to Pay">
                            <a href="{% url 'homepage' %}" class="btn left orange darken-4">Go Back</a>
                        </div>
                    </form>

                </div>
                                <form class="px-2" action="https://www.codewithsadiq.com/student/add_coupon" method="POST">
                    <div class="input-field input-group">
                        <input type="text" name="coupon" placeholder="Coupon Code" class="mdl-textfield__input">
                        <span class="suffix">
                            <button class="btn orange waves-effect m-0" type="submit">Redeem</button>
                        </span>
                    </div>
                </form>
                
            </div>

            
        </div>

    </div>
{% endblock  %}