{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<div class=" orange darken-4">
    <div class="container py-3">
        <h6 class="text-white text-uppercase"><strong>Limited Offer:</strong> ₹100/- Flat Discount on any Courses. Use
            <span class=" font-weight-bold"> "<u>BOOST</u>"</span> Coupon Enroll Now</h6>
    </div>
</div>
<div class=" cyan darken-4">
    <div class="container py-3">
        <div class="row">
            <div class="col l4 s12 mt-3 mt-lg-0">
                <h4 class="white-text m-0 font-weight-bold">LEARN COMPUTER <br>PROGRAMMING FOR INDUSTRY</h4>
                <blockquote class="card mt-2 hide-on-med-and-down">
                    <div class="card-content py-1">
                        <h6>1500+ Learners</h6>
                        <h6>300+ Stories</h6>
                        <h5>35+ Technologies</h5>

                    </div>
                </blockquote>
            </div>
            <div class="col l8 s12 ">
                <blockquote class="card hide-on-med-and-down">
                    <div class="card-content">
                        <p class="grey-text text-darken-2 text-justify" style="text-align: justify"><i>Code With
                                SadiQ</i>
                            dispenses professional computer training. The training emphasizes on hands-on learning to
                            make the
                            students an ace in facing the various IT challenges of the real world.We will provide you
                            with industry
                            leading educational programs, starting from the basic courses to advanced professional
                            courses. The
                            fundamental success factor of this institution is the competent professionals who seize the
                            opportunity
                            to learn about new technologies.

                        </p>
                    </div>
                </blockquote>

                <div class="card accent-3">
                    <blockquote>
                        <div class="card-content">
                            <strong class="grey-text text-darken-2"><u>We Believe</u>: Knowledge is not skill. Knowledge
                                plus ten
                                thousand times is skill.</strong>
                        </div>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-lg-5" id="courses">
    <div class="row px-lg-5 mx-lg-5">
       
        <div class="row">
            {% for cat in object_list %}
            <div class="col l3">
                {{ cat.cat_title }}
            </div>
            {% endfor %}
        </div>
      


    </div>
</div>

<div class="container-fluid px-lg-5" id="courses">
    <div class="row px-lg-5 mx-lg-5">
        <div class="col s12 text-center">
            <h5 class="mb-1">Our Regular Courses</h5>
            <p class="small mt-0">Select courses which is best fit for you</p>
        </div>
        {% for course in courses %}
        <div class="col s12 m3">
            <div class="card cards">
                <div class="card-image">
                    <img src="{{ course.image.url }}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href="{% url 'course' course.slug %}"
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>{{course.title}}</strong></h6>
                            <p class="small"><b>Durations: </b>{{course.duration}}</p>
                            <p class="small"><b>Category: </b>{{course.category}}</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>{{ course.discount_price }} </strong> </span>
                                <del class="small">{{ course.price }}</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
      

    </div>
</div>

{% endblock %}