{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<div class=" orange darken-4">
    <div class="container py-3">
        <h6 class="text-white text-uppercase"><strong>Limited Offer:</strong> ₹100/- Flat Discount on any Courses. Use
            <span class=" font-weight-bold"> "<u>BOOST</u>"</span> Coupon Enroll Now</h6>
    </div>
</div>
<div class=" cyan darken-4">
    <div class="container py-3">
        <div class="row">
            <div class="col l4 s12 mt-3 mt-lg-0">
                <h4 class="white-text m-0 font-weight-bold">LEARN COMPUTER <br>PROGRAMMING FOR INDUSTRY</h4>
                <blockquote class="card mt-2 hide-on-med-and-down">
                    <div class="card-content py-1">
                        <h6>1500+ Learners</h6>
                        <h6>300+ Stories</h6>
                        <h5>35+ Technologies</h5>

                    </div>
                </blockquote>
            </div>
            <div class="col l8 s12 ">
                <blockquote class="card hide-on-med-and-down">
                    <div class="card-content">
                        <p class="grey-text text-darken-2 text-justify" style="text-align: justify"><i>Code With
                                SadiQ</i>
                            dispenses professional computer training. The training emphasizes on hands-on learning to
                            make the
                            students an ace in facing the various IT challenges of the real world.We will provide you
                            with industry
                            leading educational programs, starting from the basic courses to advanced professional
                            courses. The
                            fundamental success factor of this institution is the competent professionals who seize the
                            opportunity
                            to learn about new technologies.

                        </p>
                    </div>
                </blockquote>

                <div class="card accent-3">
                    <blockquote>
                        <div class="card-content">
                            <strong class="grey-text text-darken-2"><u>We Believe</u>: Knowledge is not skill. Knowledge
                                plus ten
                                thousand times is skill.</strong>
                        </div>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-lg-5" id="courses">
    <div class="row px-lg-5 mx-lg-5">
        <div class="col s12 text-center">
            <h5 class="mb-1">Industrial Training</h5>
            <p class="small mt-0">Grow your skills for industry 4.0</p>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/php-1-logo.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase small" style="line-height: 1.4em"><strong>Web
                                    Development using
                                    Codeigniter & Mysqli (online)</strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 10</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹6500</strong> </span>
                                <del class="small">₹8500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/django-logo-negative.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase small" style="line-height: 1.4em"><strong>Python
                                    Django + SQLite
                                    Web Development (online)</strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 12</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹6500</strong> </span>
                                <del class="small">₹9500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/220px-React-icon.svg.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase small" style="line-height: 1.4em"><strong>Django +
                                    ReactJs API
                                    Full Stack Development (online)</strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 12</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹6500</strong> </span>
                                <del class="small">₹9500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/1117652_2764_8.jpg' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase small" style="line-height: 1.4em"><strong>Python +
                                    WX Desktop
                                    APP Development (online)</strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 4</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹6000</strong> </span>
                                <del class="small">₹7500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container-fluid px-lg-5" id="courses">
    <div class="row px-lg-5 mx-lg-5">
        <div class="col s12 text-center">
            <h5 class="mb-1">Our Regular Courses</h5>
            <p class="small mt-0">Select courses which is best fit for you</p>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/1200px-Python-logo-notext.svg.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>python basic
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 10</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1500</strong> </span>
                                <del class="small">₹5000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/php-1-logo.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>php & mysqli
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>8 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 8</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1800</strong> </span>
                                <del class="small">₹4500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/logo-HTML-CSS.jpg' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>html5 & css3
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>10 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 5</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1400</strong> </span>
                                <del class="small">₹3000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/advancephp_simple.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>php advance
                                    oop (online)</strong></h6>
                            <p class="small"><b>Durations: </b>10 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 5</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1300</strong> </span>
                                <del class="small">₹7500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/django-logo-negative.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>Python Django
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>10 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 12</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹2500</strong> </span>
                                <del class="small">₹8000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/141px-Java_programming_language_logo.svg.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>Java Basic
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>4 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 6</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1500</strong> </span>
                                <del class="small">₹3000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/220px-React-icon.svg.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>ReactJs
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>4 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 12</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹2300</strong> </span>
                                <del class="small">₹5500</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/download.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>Codeigniter
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>4 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 12</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1900</strong> </span>
                                <del class="small">₹5000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/1117652_2764_8.jpg' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>Advance Django
                                    (online) only for django developers</strong></h6>
                            <p class="small"><b>Durations: </b>10 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 4</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹700</strong> </span>
                                <del class="small">₹9000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/laravel-logo.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>Laravel
                                    (online)</strong></h6>
                            <p class="small"><b>Durations: </b>2 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 6</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1500</strong> </span>
                                <del class="small">₹8000</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/cpp.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>advance C &
                                    c++</strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 10</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹1600</strong> </span>
                                <del class="small">₹3200</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'image/vb.net-logo.png' %}"
                        style="width:100%;height: 200px;object-fit: contain" class="">
                </div>
                <div class="card-stacked">
                    <a href=""
                        class="stretched-link text-black-50">
                        <div class="card-content pb-4">
                            <h6 class="text-black-50 text-uppercase text-truncate" style="line-height: 1.4em">
                                <strong>Vb.net (BASIC)
                                </strong></h6>
                            <p class="small"><b>Durations: </b>6 Weeks</p>
                            <p class="small"><b>No of Assignments:</b> 12</p>
                            <h6 class="pt-2 mb-0">
                                <span class="green-text"><strong>₹800</strong> </span>
                                <del class="small">₹1800</del>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}