{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<!-- dashboard design -->
<main>

    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col s12">
                <h6 class="text-capitalize">your Courses</h6>
                <div class="card">
                    <div class="card-content">
                        <h5>Explorer our Courses</h5>
                        <p class="small">Be Skilled Start Learning</p>
                        <a href="" class="btn blue mt-2">View
                            Courses</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}